
body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #9e7ca3;
}
/* Output Section */
#result{
    padding: 0.3em;
    display: flex;
    flex-flow: column;
}
#output{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0.15em;
    padding: 0em 0.3em 0em 0.3em;
    font-weight: bolder;
    max-width:18em;
}
#history{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0.15em;
    padding: 0em 0.3em 0em 0.3em;
    font-weight: bolder;
}
.blur{
    color:dimgray;
}


/* Table Section */
#keyboard{
    background-color: #7c7fa3;
}
.enlarge{
    font-size: 1.1em;
    padding: 1.5em 1.6em;
    font-weight: bolder;
}
.delete{
    font-size: 1.1em;
    padding: 1.5em 1.3em;
    font-weight: bolder;
}
.display{
    padding: 1.8em 2em;
    font-size: 1em;
    font-weight: bolder;
}
.end{
    text-align: center;
}
.equal{
    padding: 1.5em 3.8em;
}
.dot{
    padding: 1.25em 1.65em;
    font-weight: bolder;
    font-size: 1.3em;
}
.align{
    padding: 1.8em 2em;
}
.btn{
    padding: 0em;
}
.more{
    padding: 1em 1.25em;
    font-weight: bolder;
    font-size: 1.5em;
}


